<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Shark Cinemas</title>
    <link rel="stylesheet" href="~/css/style.css">
    <link rel="stylesheet" href="~/css/site.css">
    <link rel="shortcut icon" type="img/png" href="~/img/shortcut-logo.png">
    <!-- Sử dụng Bootstrap CDN -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.10.5/font/bootstrap-icons.min.css">

</head>
<body>
    <!-- Header -->
    <header class="bg-white">
        <nav class="navbar navbar-expand-lg navbar-light">
            <div class="container">
                <a class="navbar-brand" href="~/Home">
                    <img src="~/img/logo.png" alt="Shark Cinemas Logo" height="100">
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <!-- Navigation Menu -->

                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav ms-auto">
                        @if (User.Identity.IsAuthenticated)
                        {
                        <li class="nav-item">
                            <a class="nav-link" asp-action="Index" asp-controller="tickets">
                                <img alt="Ticket" loading="lazy" width="112" height="40" src="~/img/ticket_mua.png">
                            </a>
                        </li>
                        }
                        else
                        {
                            <li class="nav-item">
                                <a class="nav-link" asp-action="Login" asp-controller="Account" asp-route-message="Bạn cần đăng nhập để đặt vé.">
                                    <img alt="Ticket" loading="lazy" width="112" height="40" src="~/img/ticket_mua.png">
                                </a>
                            </li>
                        }
                        <li class="nav-item"><a class="nav-link" href="~/Rap/Rap_Giave">RẠP/GIÁ VÉ</a></li>
                        <li class="nav-item"><a class="nav-link" href="~/Movies/MoviesDangChieu">PHIM</a></li>
                        @if (User.Identity.IsAuthenticated)
                        {
                                <li class="nav-item"><span class="nav-link">XIN CHÀO, @User.Identity.Name !</span></li>
                                <li class="nav-item">
                                    <form asp-action="Logout" asp-controller="Account" method="post">
                                        <button class="nav-link btn btn-link" type="submit">ĐĂNG XUẤT</button>
                                    </form>
                                </li>
                        }
                        else
                        {
                                <li class="nav-item"><a class="nav-link" href="~/Account/Login">ĐĂNG NHẬP</a></li>
                                <li class="nav-item"><a class="nav-link" href="~/Account/Register">ĐĂNG KÝ</a></li>
                        }
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <!-- Nội dung chính sẽ được hiển thị ở đây -->
    <!-- Main Content -->
    @RenderBody()

    @RenderSection("Scripts", required: false)

    <!-- Footer -->
    <footer class=" text-center py-4">
        <p>&copy; 2024 Shark Cinemas. All rights reserved.</p>
        <p>NHÓM 7 </p>

    </footer>

    <!-- Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.2/jquery.validate.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.12/jquery.validate.unobtrusive.min.js"></script>

</body>
</html>
