<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Trang Chủ - Đặt Lịch Xem Phim</title>
    <link rel="stylesheet" href="~/css/style.css">
    <link rel="stylesheet" href="~/css/site.css">
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <link rel="shortcut icon" type="img/png" href="~/img/shortcut-logo.png">
</head>
<body>
    <!-- Header -->
    <header class="header">
        <div class="logo">
            <a asp-area="" asp-controller="Home" asp-action="Index">
                <img src="~/img/logo.png" width="100px" height="100px" />
            </a>
        </div>
        <nav>
            <ul class="nav-links">
                <li>
                    <a href="#">
                        <img alt="Ticket" loading="lazy" width="112" height="40" decoding="async" data-nimg="1" class="max-w-min w-[84px] h-[27px] lg:w-[112px] lg:h-[36px] object-cover duration-500 ease-in-out group-hover:opacity-100"
                             style="color:transparent" src="~/img/ticket_mua.png">
                    </a>
                </li>
                <li><a asp-area="" asp-controller="Rap" asp-action="Rap_Giave">RẠP/GIÁ VÉ</a></li>
                <li><a asp-area="" asp-controller="Movies" asp-action="MoviesDangChieu">PHIM</a></li>

                <!-- Kiểm tra trạng thái đăng nhập -->
                @if (User.Identity.IsAuthenticated)
                {
                    <li>
                        <p style="font-size: 18px !important;">XIN CHÀO, @User.Identity.Name!</p>
                    </li>
                    <li>
                        <form asp-action="Logout" asp-controller="Account" method="post" style="display:inline;">
                            <button class="nav-link btn btn-link" style="font-size: 18px !important;" type="submit"><a>ĐĂNG XUẤT</a></button>
                        </form>
                    </li>
                }
                else
                {
                    <li><a asp-action="Login" asp-controller="Account">ĐĂNG NHẬP</a></li>
                    <li><a asp-action="Register" asp-controller="Account">ĐĂNG KÝ</a></li>
                }
            </ul>
        </nav>
    </header>


    <!-- Section: Trailer -->
    <section class="Trailer">
        <div class="Trailer-container">

            @RenderBody() <!-- Vị trí nội dung của từng view -->
        </div>
    </section>

    <!-- Section: Phim Đang Chiếu  -->
        
       <section class="movies">
          <div class="container-movie">

          </div>
      </section>
   

    @RenderSection("Scripts", required: false)

    <!-- Footer -->
    <footer class="footer">
        <p>&copy; 2024 CinemaBooking. All Rights Reserved.</p>
    </footer>
    <!-- Thêm Bootstrap JS và jQuery -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="~/js/script.js"></script>
</body>
</html>
