:root {
    --primary-color: #0045a0;
    --white-color: #fff;
    --black-color: #000;
    --text-color: #333;
    --border-color: #dbdbdb;
    --header-height: 120px;
    --navbar-height: 34px;
    --header-with-search-height: calc(var(--header-height) - var(--navbar-height));
}
html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.sidebar {
    height: 100vh;
    width: 250px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #000;
    border-right: 1px solid #ddd;
    padding-top: 20px;
    overflow-y: auto;
}

    .sidebar .nav-link {
        color: #fff;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px 15px;
        transition: background-color 0.3s, color 0.3s;
    }

        .sidebar .nav-link:hover, .sidebar .nav-link.active {
            background-color: #444;
            color: #ddd;
        }

.main-content {
    margin-left: 250px;
    padding: 20px;
}

.arrow-icon {
    color: #fff;
    transition: transform 0.3s ease;
}

    .arrow-icon.collapsed {
        transform: rotate(0deg);
    }

    .arrow-icon:not(.collapsed) {
        transform: rotate(90deg);
    }