@{
    ViewBag.Title = "Phim dang chieu";
    Layout = "~/Views/Shared/_LayoutHome.cshtml";
}
@model List<Movies>
</br>

<style>
    .movie-title-dang-chieu {
        text-align: center !important;
        font-size: 2.5rem !important; /* Kích thước lớn */
        font-weight: bold !important; /* Làm đậm */
        color: var(--primary-color);
    }
</style>
<h2 class=" movie-title-dang-chieu text-2xl font-bold mb-4">Phim Đang Chiếu </h2>

<section class="movies">
    <div class="mx-auto">
        <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-4 justify-center">
            @foreach (var item in Model)
            {
                <a href="@Url.Action("Detail","MoviesDetail", new{ Id = item.MovieId })">
                    <div class="movie-item text-center p-4 border rounded shadow">
                        <img src="~/img/@item.ImageUrl" alt="@item.Title" class="w-full h-auto mb-2">
                        <h3 class="movie-item-title text-lg font-semibold">@item.Title</h3>
                        <p>Thể loại: @item.Genre</p>
                    </div>
                </a>
            }
        </div>
    </div>
</section>





