@page
@{
    ViewBag.Title = "Truy cập bị từ chối";
    Layout = "~/Views/Shared/_LayoutHome.cshtml";
}
<section class="container">
    <div style="text-align: center; padding: 20px;">
        <h1 style="color: red;">Truy cập bị từ chối</h1>
        <p>Bạn không có quyền truy cập vào trang này.</p>
        <a href="/" class="btn btn-primary">Quay về trang chủ</a>
    </div>
</section>