@{
    ViewBag.Title = "Quên Mật Khẩu";
    Layout = "~/Views/Shared/_LayoutHome.cshtml";
}

<section class="lg">
    <div class="login-container d-flex">
        <!-- Phần hình ảnh -->
        <div class="login-image col-md-6 d-none d-md-block">
            <img src="~/img/loginimg.png" alt="form">
        </div>

        <!-- Phần form quên mật khẩu -->
        <div class="login-form col-md-6">
            <img src="~/img/logo.png" alt="Logo" class="login-logo">
            <h2 class="form-title">Quên Mật Khẩu</h2>

            @if (ViewBag.Error != null)
            {
                <p style="color:red">@ViewBag.Error</p>
            }
            @if (ViewBag.Success != null)
            {
                <p style="color:green">@ViewBag.Success</p>
            }

            <form asp-action="ForgotPassword" method="post">

                <div class="mb-3">
                    <input type="email" id="email" name="email" required class="login__input" placeholder="Nhập email của bạn">
                </div>
                <button type="submit" class="btn btn-primary btn-login">Gửi yêu cầu đặt lại mật khẩu</button>


                <p class="text-center mt-3">
                    <a href="@Url.Action("Login", "Account")">Quay lại</a>
                </p>
            </form>
        </div>
    </div>
</section>
