@{
    ViewBag.Title = "Đăng Ký";
    Layout = "~/Views/Shared/_LayoutHome.cshtml";
}
@model CinemaBookingWeb.Models.Users


<!-- register   -->
 

<section class="lg">
    <div class="login-container d-flex">
        <div class="login-image col-md-6 d-none d-md-block">
            <img src="~/img/loginimg.png" alt="form">
        </div>

        <div class="login-form col-md-6">
            <img src="~/img/logo.png" alt="Logo" class="login-logo">
            <h2 class="form-title">Chào Mừng Bạn!</h2>

            @if (ViewBag.Error != null)
            {
                <p style="color:red">@ViewBag.Error</p>
            }

            <form asp-action="Register" method="post">

                <div class="mb-3">
                    <input asp-for="UserName" class="login__input" placeholder="Nhập tên người dùng">
                    <span asp-validation-for="UserName" class="text-danger"></span>
                </div>

                <div class="mb-3">
                    <input asp-for="Password" type="password" class="login__input" placeholder="Nhập mật khẩu">
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>

                <div class="mb-3">
                    <input asp-for="ConfirmPassword" type="password" class="login__input" placeholder="Xác nhận mật khẩu">
                    <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                </div>

                <div class="mb-3">
                    <input asp-for="Email" type="email" class="login__input" placeholder="Nhập email">
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>

                <div class="mb-3">
                    <input asp-for="Phone" class="login__input" placeholder="Nhập số điện thoại">
                    <span asp-validation-for="Phone" class="text-danger"></span>
                </div>

                <button type="submit" class="btn btn-primary btn-login">Đăng Ký</button>

                <div class="form-title1">
                    <hr>
                    <p>Bạn đã có tài khoản? <a asp-action="Login" asp-controller="Account" style="color:var(--primary-color) !important">ĐĂNG NHẬP</a></p>
                </div>
            </form>
        </div>
    </div>
</section>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
