@{
    ViewBag.Title = "Đăng Ký";
    Layout = "~/Views/Shared/_LayoutHome.cshtml";
}
@model CinemaBookingWeb.Models.Users


<!-- register   -->
 
<section class="lg">
    <div class="login-container d-flex">
        <!-- Phần hình ảnh -->
        <div class="login-image col-md-6 d-none d-md-block">
            <img src="~/img/loginimg.png" alt="form">
        </div>

        <!-- Phần form đăng nhập -->
        <div class="login-form col-md-6">
            <img src="~/img/logo.png" alt="Logo" class="login-logo">
            <h2 class="form-title">Chào Mừng Bạn !</h2>
            @if (ViewBag.Error != null)
            {
                <p style="color:red">@ViewBag.Error</p>
            }
            <form asp-action="Register" method="post">
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true)
                <div class="mb-3">
                    <i class="login__icon fas fa-user"></i>
                    <input asp-for="UserName" type="text" id="userName" name="userName" required class="login__input" placeholder="Nhập tên người dùng"></br>
                </div>
                <div class="mb-3">
                    <i class="login__icon fas fa-lock"></i>
                    <input asp-for="Password" type="password" id="password" name="password" required class="login__input" placeholder="Mật khẩu">
                </div>
                <div class="mb-3">
                    <i class="login__icon fas fa-lock"></i>
                    <input asp-for="Email" type="email" id="email" name="email" required class="login__input" placeholder="Email">
                </div>
                <div class="mb-3">
                    <i class="login__icon fas fa-lock"></i>
                    <input asp-for="Phone" class="login__input" required placeholder="Số điện thoại">
                </div>
                <button type="submit" class="btn btn-primary btn-login">Đăng Ký</button>

                <div class=" form-title1">
                    </br>
                    <hr>
                    <p>Bạn đã có tài khoản?<a asp-action="Login" asp-controller="Account" style="color:var(--primary-color) !important"> ĐĂNG NHẬP </a></p>
                </div>
            </form>
        </div> 
    </div>
</section>