@model CinemaBookingWeb.Models.Users

@{
    ViewData["Title"] = "Thêm người dùng mới";
}
<link rel="stylesheet" href="~/css/css_admin_edit.css" />

<h1>Thêm người dùng mới</h1>
<div class="row">
    <div class="col-md-4">
        <form asp-controller="User" asp-action="Create" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="UserName" class="control-label">Tên người dùng</label>
                <input asp-for="UserName" class="form-control" />
                <span asp-validation-for="UserName" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Password" class="control-label">Mật khẩu</label>
                <input asp-for="Password" type="password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ConfirmPassword" class="control-label">Nhập lại Mật khẩu</label>
                <input asp-for="ConfirmPassword" type="password" class="form-control" />
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Email" class="control-label">Email</label>
                <input asp-for="Email" type="email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Phone" class="control-label">Số điện thoại</label>
                <input asp-for="Phone" class="form-control" />
                <span asp-validation-for="Phone" class="text-danger"></span>
            </div>


            <div class="form-group">
                <label asp-for="Role" class="control-label">Vai trò</label>
                <select asp-for="Role" class="form-control">
                    <option value="Admin">Admin</option>
                    <option value="User">User</option>
                </select>
                <span asp-validation-for="Role" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Status" class="control-label">Trạng thái</label>
                <select asp-for="Status" class="form-control">
                    <option value="1">Hoạt động</option>
                    <option value="2">Không hoạt động</option>
                    <!-- Bạn có thể thêm các trạng thái khác nếu cần -->
                </select>
                <span asp-validation-for="Status" class="text-danger"></span>
            </div>

            <div class="form-group d-flex justify-content-between mt-2">
                <button type="submit" class="btn btn-primary">Lưu</button>
                <a asp-action="Index" class="btn btn-secondary">Hủy</a>
            </div>
        </form>
    </div>
</div>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
