@model CinemaBookingWeb.Models.Movies

@{
    ViewData["Title"] = "Edit";
}

<h1>CHỈNH SỬA</h1>

<h4>Movies</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="MovieId" />
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Duration" class="control-label"></label>
                <input asp-for="Duration" class="form-control" />
                <span asp-validation-for="Duration" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Rating" class="control-label"></label>
                <input asp-for="Rating" class="form-control" />
                <span asp-validation-for="Rating" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ReleaseDate" class="control-label"></label>
                <input asp-for="ReleaseDate" class="form-control" />
                <span asp-validation-for="ReleaseDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Genre" class="control-label"></label>
                <input asp-for="Genre" class="form-control" />
                <span asp-validation-for="Genre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Language" class="control-label"></label>
                <input asp-for="Language" class="form-control" />
                <span asp-validation-for="Language" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TrailerUrl" class="control-label"></label>
                <input asp-for="TrailerUrl" class="form-control" />
                <span asp-validation-for="TrailerUrl" class="text-danger"></span>
            </div>

            <div class="form-group">
                <a href="https://www.youtube.com/" target="_blank" class="btn btn-secondary mt-2">
                    Tìm trailer trên YouTube
                </a>
            </div>

                <div class="form-group">
                    <label for="fileInput">Chọn file:</label>
                    <input type="file" class="form-control" id="fileInput" name="fileInput" onchange="displayFilePath()">
                </div>
                <div class="form-group">
                <label asp-for="ImageUrl">Đường dẫn file:</label>
                <input asp-for="ImageUrl" class="form-control" id="ImageUrl" readonly>
                </div>           
            <script>
                function displayFilePath() {
                    var fileInput = document.getElementById('fileInput');
                    var filePath = document.getElementById('ImageUrl');
                    filePath.value = fileInput.value;
                }
            </script>


            <div class="form-group">
                <label asp-for="Status" class="control-label">Status</label>
                <select asp-for="Status" class="form-control">
                    <option value="1" selected="@(Model.Status == 1)">Đang chiếu</option>
                    <option value="0" selected="@(Model.Status == 0)">Không còn chiếu</option>
                </select>
                <span asp-validation-for="Status" class="text-danger"></span>
            </div>

            <div class="form-group d-flex justify-content-between mt-2">
                <input type="submit" value="Lưu" class="btn btn-primary" />
                <a asp-action="Index" class="btn btn-secondary">Trờ về</a>
            </div>
        </form>
    </div>
</div>



